<!-- <form>
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." #nombre>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">RAM</label>
        <input type="text" class="form-control" id="ram" placeholder="Ingresar ram..." #ram>
    </div>
    <button type="submit" class="btn btn-primary" (click)="guardar(nombre.value,ram.value)">Guardar</button>
</form> -->

<form 
[formGroup]="fg"
(ngSubmit)="guardar(fg.controls['nombre'].value, fg.controls['ram'].value)">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Ingresar nombre..." 
        formControlName="nombre"> 
        <ul>
            <li *ngFor="let r of searchResults;">{{r}}</li>
        </ul>

        <div *ngIf="!fg.controls['nombre'].valid">nombre invalido</div>
    <div *ngIf="fg.controls['nombre'].hasError('required')">nombre invalido</div>
    <div *ngIf="fg.controls['nombre'].hasError('invalidNombre')">nombre invalido</div>
    <div *ngIf="fg.controls['nombre'].hasError('numLongName')">nombre invalido por longitud erronea</div>
    </div>
    <div class="form-group">
        <label for="Imagen	Url">RAM</label>
        <input type="text" class="form-control" id="ram" placeholder="Ingresar ram..." formControlName="ram">
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="fg.valid">Guardar</button>
</form>